@import "tailwindcss";
@plugin "daisyui";
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/600.css";

@theme {
    --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
}

#app {
    height: 100vh;
}
